doctype html
html
  head
    title= title
    link(rel='stylesheet', href='index.scss')
    link(rel='stylesheet', href='node_modules/animate.css/animate.min.css')
  body
    div hola
    script(src="index.js")
